@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)
Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 4vh; /* default font-size = 1.0rem */

  line-height:2.5;
  font-family: Helvetica, Calibri, sans-serif;
background-color: #222;
  
}
h1{
  
 
    
}
h3{
 
  font-size: 45px; 
    font-family: calibri;
  
}
p{ 
  margin: 40px 0px 0px 0px;
  line-height:1.25;
  
}
nav a, nav a:link, nav a:visited{
  color: gold;
   text-decoration: none; 
}
nav a:hover, a:active{
  color:#fff;
  
}
nav ul{
  background-color: #444;
  text-align: center;
  text-decoration: none;
    
  height: 70px;
  border-top: 7px solid #666;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 10px solid #666;
}
nav li{
    float: left;
    display: block;   
  text-decoration: none;
    float:left;
  width: 20%;
 
}
#wrapper{
  max-width:750px;
  width:90%;
  margin:0 auto; 
    background-color: #444;
  color: #d4d4d4;
}
#masthead h1{
   background: url("http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg") no-repeat ;
    height: 225px;
    width:795px;
    color: #eee;
    text-shadow: 2px 2px 2px black, -2px -2px 2px gold;
    font-size: 70px;
    font-family: calibri;
    padding: 30px 0px 0px 40px; 
   background-size: 750px;
}
#masthead img{
    
    height: 40px;
   padding: 3px 0px 0px 0px; 
}
#main{
  padding: 40px 0px 0px 22px;
  line-height:1.75;
}
#footer{
font-family:   Calibri; 
margin:0 auto;
}
#footer p{
   padding: 35px 0px 45px 22px;
 background-color: #333;
    color: #999;
   font-size: 2.75vh;
}
#footer a{
 color: gold;
}